#title{
    height: 100vh;
}
.gradient-background {
    background: linear-gradient(300deg, #0056A6, #0f9e97, #0caf79);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  h1{
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  p{
    font-family: 'Indie Flower', cursive ;
    color: aliceblue;
    font-size: 22px;
    text-align: center;
  }

  svg{
    color: white;
    height: 25px;
    width: 25px;
  }

  svg:hover{
    color: #000;
  }

  @media (max-width:539px){
    .paragraphe{
      width: 300px;
    }
  }
  @media (min-width:539px){
    .paragraphe{
      min-width: 350px;
      max-width: 600px;
    }
  }
